/* reset */
$min-width: 320px; 
$max-width: 1385px; 
$base-bg: #FFF; 
$base-font-size: 14px; 
$base-line-height: 18px; 
$base-font-family: 'PT Sans', sans-serif; 
$custom-font-family: 'PT Sans', sans-serif;
$link-color: #100da9;
$default-transition:all 0.2s linear;
/* reset */
$min-width-inner: 320px; 
$max-width-inner: 1380px; 
$base-bg-inner: #FFF; 
$base-line-height-inner: 18px; 
$link-color-inner: #100da9;
/* main variables */

//text, titles
$text-color: #000;
$title-color: #000;
$title-font-family: $custom-font-family;

$font-size-h1: 36px;
$line-height-h1: 42px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;